/* DISABLE TEXT SELECTION HIGHLIGHTS */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
  }

body {
    margin: 0px;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 30px 100px;
    padding-top: 10px;
    width: 650px;
    height: 500px;
    background-color: #1F2937;
    font-family: 'Inter', sans-serif;

}

.headline {
font-family: 'Karla', sans-serif;
font-weight: bold;
font-size: 40px;
color: white;
padding-top: 40px;
margin-bottom: 10px;
}

.h1-ln2, .h1-ln3 {
    display: block;
    color: #4ADF86;
}

.h1-ln2 {
    color:  #80ffa6;
}

.headline-sub {
    font-size: 20px;
    font-weight: normal;
    color: #D5D4D8;
    margin-top: 15px;
}

#gen-btn {
    width: 191px;
    height: 42px;
    border: none;
    background-color: #10B981;
    color: white;
    border-radius: 6px;
    margin: 30px 0px;
}

#gen-btn:active{
    width: 189px;
}

#gen-btn:hover {
    cursor: pointer;
}

hr {
    border: 1px solid #2F3E53;
}

.pass-container {
    display: flex;
    justify-content: space-between;
    border: none;
}

.pass-box {
    border: none;
    background-color: #273549;
    height: 40px;
    width: 300px;
    border-radius: 6px;
    text-align: center;
    margin: 30px 0px;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
}

.pass-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #55F991;
    margin-top: 10px;
    margin-bottom: 10px;
}

.material-symbols-outlined {
    display: inline;
    color: #D5D4D8;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 16
}

#copy-btn1:active, #copy-btn2:active {
    color: #80ffa6;
}

#copy-btn1:hover, #copy-btn2:hover {
    /* color: #80ffa6; */
    cursor: pointer;
}